/*
Error: Invalid CSS after "..../blocks/cards"": expected "{", was ";"
        on line 11 of C:\Users\user\Tech-E-Commerce\sass\main.scss

6: @import "./blocks/button";
7: @import "./blocks/product_cart";
8: @import "./blocks/inputs";
9: @import "./blocks/tabs";
10: <<<<<<< HEAD
11: @import "./blocks/cards";
12: =======
13: @import "./blocks/socials";
14: @import "./blocks/Reviews_Section";
15: @import "./blocks/Checkboxes";
16: >>>>>>> 49d197059d6501dc8f14dc0f25e5f265ab47d857

Backtrace:
C:\Users\user\Tech-E-Commerce\sass\main.scss:11
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/Program Files (x86)/Koala/bin/sass:22:in `load'
D:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"..../blocks/cards\"\": expected \"{\", was \";\"\A         on line 11 of C:\Users\user\Tech-E-Commerce\sass\main.scss\A \A 6: @import \"./blocks/button\";\A 7: @import \"./blocks/product_cart\";\A 8: @import \"./blocks/inputs\";\A 9: @import \"./blocks/tabs\";\A 10: <<<<<<< HEAD\A 11: @import \"./blocks/cards\";\A 12: =======\A 13: @import \"./blocks/socials\";\A 14: @import \"./blocks/Reviews_Section\";\A 15: @import \"./blocks/Checkboxes\";\A 16: >>>>>>> 49d197059d6501dc8f14dc0f25e5f265ab47d857"; }
