/* Reset styles  */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul {
  list-style: none; }

img, svg {
  display: block;
  height: auto; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

/* Base styles  */
html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  color: var(--main-text, #CFCFCF);
  font-family: "SF Pro Display", sans-serif;
  /* sans-serif font family */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--main-black, #FFFFFF); }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

section {
  position: relative; }

/* Grid styles */
.container-fluid {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  .container--fluid {
    max-width: unset; }
  .container--no-padding {
    padding: 0; }

/* Utility */
.none {
  display: none !important; }

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0; }

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */ }

input {
  border-radius: 7px;
  border: 0.5px; }

/* blocks */
.logo__container {
  width: 208px;
  height: 192px;
  background: #e4e4e4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500; }

.m_r-14 p {
  margin-right: 14px; }

.container__button__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 818px;
  height: 254px;
  background-color: #E4E4E4;
  padding: 10px; }

.btn__white {
  font-size: 16px;
  width: 150px;
  height: 56px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0); }

.btn__full {
  font-size: 16px;
  width: 150px;
  height: 56px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 6px; }

.btn__black {
  font-size: 16px;
  width: 150px;
  height: 56px;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0); }

.btn__white-small {
  font-size: 14px;
  width: 162px;
  height: 48px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0); }

.btn__full-small {
  font-size: 14px;
  width: 162px;
  height: 48px;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 8px; }

.btn__black-small {
  font-size: 14px;
  width: 162px;
  height: 48px;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0); }

.btn__white-icon {
  font-size: 16px;
  width: 182px;
  height: 56px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0); }

.btn__white-small-icon {
  font-size: 14px;
  width: 178px;
  height: 48px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0); }

.btn__full-icon {
  font-size: 16px;
  width: 182px;
  height: 56px;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 6px; }

.btn__full-small-icon {
  font-size: 14px;
  width: 178px;
  height: 48px;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  background-color: black; }

.btn__black-icon {
  font-size: 16px;
  width: 182px;
  height: 56px;
  border: 1px solid black;
  color: black;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0); }

.btn__black-small-icon {
  font-size: 14px;
  width: 178px;
  height: 48px;
  border: 1px solid black;
  color: black;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0); }

.product__cart-row {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 15px; }

.product__cart {
  padding: 24px 16px;
  border-radius: 9px;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  height: 432px;
  width: 268px;
  text-align: center; }

.product__cart-icon {
  width: 32px;
  align-self: end; }

.product__image {
  margin-bottom: 10px;
  width: 160px; }

.product__image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover; }

.product__cart-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  /* 100% */
  letter-spacing: 0.72px; }

.elements {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 100px; }

.inputs__container {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 728px;
  background-color: #e4e4e4; }

.input__block {
  position: relative;
  width: 160px;
  height: 48px;
  display: flex; }

.input__block::after {
  position: absolute;
  content: '';
  background: url("/images/Icons/View-24.svg");
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px; }

.input__field {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 16px; }

.card__number span {
  display: block;
  color: #545454; }

.card__number input {
  width: 336px;
  padding: 23px 16px 23px 16px;
  margin-bottom: 10px; }

.dropdown select {
  width: 230px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: .5px; }

.apply {
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  width: 77px;
  background-color: #fff;
  position: absolute;
  top: 23.5%;
  right: 82%; }

.search {
  position: relative; }

.search::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url("/images/Icons/Search-24.svg");
  position: absolute;
  top: 15px;
  left: 15px; }

.search input {
  width: 216px;
  padding: 23px 16px 23px 48px; }

.tabs__container {
  width: 210px;
  height: 296px;
  background: #e4e4e4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.tabs__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px; }

.selected {
  opacity: 0.4; }

.noActive {
  opacity: 0.2; }

.cards {
  margin: 100px;
  display: flex;
  flex-direction: column;
  width: 251px; }

h1 {
  margin-bottom: 16px; }

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 128px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 24px; }

.content__card img {
  width: 48px;
  height: 48px; }

.detail__card {
  width: 164px; }

.detail__card img {
  width: 24px;
  height: 24px; }

.detail__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 64px;
  background-color: #fff;
  border-radius: 7px; }

.info__card p:last-child {
  font-size: 14px; }

.info__card p:first-child {
  color: #a7a7a7; }

.info__card p:last-child {
  color: #4e4e4e; }

.social-list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 173px;
  margin-bottom: 35px; }

.social-list a {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0; }

.svg-size {
  height: 16px;
  width: 16px; }

/* -----------------------Reviews_Section------------------------ */
.container__reviews_section {
  width: 1207.55px;
  height: 659px;
  background-color: #E4E4E4;
  padding: 10px;
  color: #000000; }

.rating {
  display: flex; }

.overall_rating {
  width: 184px;
  height: 192px;
  border-radius: 25px;
  text-align: center;
  background: #FAFAFA; }

.rating-value {
  font-size: 56px;
  font-weight: 500;
  padding-top: 32px;
  line-height: normal; }

.rating-count {
  font-size: 15px;
  height: 16px;
  opacity: 30%; }

.rating-stars {
  direction: rtl; }

.rating-stars a {
  background-image: url("../images/Reviews/Star_empty.svg");
  margin-top: 8px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-decoration: none;
  transition: all 0.5s; }

.rating-stars a:hover {
  background-image: url("../images/Reviews/Star-1.svg");
  transform: scale(1.3); }

.s1:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s2:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s3:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s4:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s5:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

/* -----------------------Detail_Rating------------------------ */
.Excellent_comments {
  margin-left: 65px;
  font-size: 18px; }

.counts__group-bar {
  background: #f2f2f2;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  margin-left: 12px;
  width: 703.55px; }

.counts__group-bar-filled {
  align-items: center;
  background: #ffa319;
  border-radius: 8px;
  display: flex;
  height: 8px;
  justify-content: space-between;
  min-width: 8px;
  padding-left: 10px;
  padding-right: 5px; }

.number_comments {
  margin-left: 16px;
  opacity: 40%; }

/* -----------------------Comment------------------------ */
.reviews-carousel {
  display: flex;
  margin-top: 98px;
  width: 1127.55px;
  height: 256px;
  border-radius: 10px;
  gap: 19px;
  background: #FAFAFA; }

.name-data_comments {
  display: flex;
  justify-content: space-between; }

.name_comments {
  margin-top: 24px;
  font-weight: 600; }

.data_comments {
  margin-top: 24px;
  margin-right: 28px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  opacity: 20%; }

.rating-stars_comments {
  margin-top: 8px;
  transform: translate(-87%);
  direction: rtl; }

.rating-stars_comments a {
  background-image: url("../images/Reviews/Star_empty.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-decoration: none;
  transition: all 0.5s; }

.rating-stars_comments a:hover {
  background-image: url("../images/Reviews/Star-1.svg");
  transform: scale(1.3); }

.s1:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s2:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s3:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s4:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.s5:hover ~ a {
  background-image: url("../images/Reviews/Star-1.svg"); }

.text_comments {
  margin-bottom: 8px;
  margin-right: 28px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7E7E7E; }

.img_User-Pic {
  display: block;
  width: 56px;
  height: 56px;
  margin-top: 24px;
  margin-left: 16px; }

.img_comments {
  display: flex; }

.img_comments img {
  margin-right: 8px; }

/* -----------------------Checkbox and Radio------------------------ */
.container__Checkboxes {
  width: 318px;
  height: 478px;
  background-color: #E4E4E4;
  padding: 10px;
  color: #000000; }

/* -----------------------Radio-Button------------------------ */
.Radio-Button {
  display: block;
  margin-top: 16px; }

input[type="radio"] {
  appearance: none;
  color: currentColor;
  width: 24px;
  height: 24px;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center; }

input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: CanvasText; }

input[type="radio"]:checked::before {
  transform: scale(1); }

/* -----------------------Checkbox------------------------ */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #D3D3D3;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

.custom-checkbox:checked + label::before {
  border-color: #000000;
  background-color: #000000;
  background-image: url("../images/check-mark.svg"); }

/* -----------------------Checkbox_text------------------------ */
.checkbox_number {
  margin-left: 4px;
  margin-top: 2px;
  color: #929292;
  font-size: 12px; }

/* sections  */
.logo__black {
  z-index: 1; }

.header__nav__container {
  background-color: white;
  display: flex;
  align-items: center;
  column-gap: 32px;
  justify-content: center;
  padding: 16px 0; }

.header__search input {
  width: 443px;
  max-height: 56px;
  margin-right: 32px;
  background-color: #F5F5F5; }

.header__nav__icons {
  max-width: 144px;
  display: flex; }

.header__nav__link {
  margin-right: 32px;
  width: 351px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between; }

.header__nav__link a {
  margin-right: 47px;
  font-size: 16px;
  line-height: 19.09px;
  transition: 0.2s linear; }

.header__nav__link a:hover {
  color: black; }

.header__nav__link a:last-child {
  margin-right: 0; }

.active {
  color: #000; }

.header__nav__icons a {
  margin-right: 24px; }

.header__nav__icons a:last-child {
  margin-right: 0; }

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none; }

.header__burger-btn span {
  position: absolute;
  margin: 0;
  left: 7.5px;
  width: 25px;
  height: 2.5px;
  background-color: #080341;
  transition: transform .5s, opacity .5s, background-color .5s; }

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px); }

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px); }

.header.open .header__burger-btn span {
  background-color: black; }

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0; }

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg); }

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg); }

.header__subnav {
  height: 48px;
  background-color: #2E2E2E;
  color: #FFFFFF; }

.container__subnav {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__subnav-item {
  display: flex;
  position: relative; }

.header__subnav-item img {
  opacity: 0.5;
  margin-right: 8px; }

.header__subnav-item::after {
  display: block;
  position: absolute;
  content: '|';
  height: 24px;
  right: -48px;
  color: #FFFFFF;
  opacity: 0.5; }

.header__subnav-item:last-child::after {
  display: none; }

@media (max-width: 1200px) {
  .header__nav__container {
    height: 88px; }

  .header__search input {
    width: 200px; }

  .header__subnav-item::after {
    display: none; } }
@media (max-width: 992px) {
  .header__nav__container {
    height: 88px;
    justify-content: space-between; }

  .menu {
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 75px 20px 20px 20px;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    transform: translateY(-100%); }

  .header__nav__link {
    display: block;
    width: 100px;
    margin: 0; }

  .menu__link {
    color: white;
    font-size: 21px;
    display: block;
    padding: 10px 0; }

  .header.open .menu {
    transform: translateY(0%); }

  .search {
    display: none; }

  .header__search input {
    display: none; }

  .header__nav__icons {
    display: none; }

  .header__subnav {
    display: none; }

  .header__burger-btn {
    display: block; } }
.footer {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #000000; }

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px; }
  @media (max-width: 767.98px) {
    .footer__top {
      flex-direction: column;
      row-gap: 34px;
      text-align: center;
      margin-bottom: 32px; } }

.footer__info-column {
  width: 34.2%; }
  @media (max-width: 767.98px) {
    .footer__info-column {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.footer__logo {
  margin-bottom: 24px; }

.footer__info-meesage {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; }
  @media (max-width: 767.98px) {
    .footer__info-meesage {
      text-wrap: balance; } }

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 56%; }
  @media (max-width: 767.98px) {
    .footer__columns {
      flex-direction: column;
      width: 100%;
      row-gap: 34px; } }

.footer__column-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px; }

.footer__column-item {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.28; }

@media (max-width: 767.98px) {
  .social-list--footer {
    margin: 0 auto; } }

.header__banner {
  background: linear-gradient(91deg, #211C24 0.64%, #211C24 101%);
  height: auto; }

.header__banner-wrapper {
  max-height: 632px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .header__banner-wrapper {
      min-height: 769px;
      flex-direction: column;
      align-items: center; } }

.header__banner-column {
  display: flex;
  flex-direction: column;
  row-gap: 24px; }
  @media (max-width: 767.98px) {
    .header__banner-column {
      align-items: center;
      text-align: center; } }

.header__banner-info {
  margin-top: 188px;
  color: #909090;
  font-family: 'Figtree', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.28; }
  @media (max-width: 767.98px) {
    .header__banner-info {
      margin-top: 88px; } }

.header__banner-title {
  font-size: 96px;
  font-style: normal;
  font-weight: 200;
  line-height: 0.75;
  letter-spacing: -0.96px; }
  @media (max-width: 991.98px) {
    .header__banner-title {
      font-size: 74px; } }
  @media (max-width: 767.98px) {
    .header__banner-title {
      font-size: 72px; } }

.header__banner-title span {
  font-weight: 600; }

.header__banner-message {
  color: #909090;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33; }

.header__banner-image {
  margin-top: 73px;
  max-width: 406px; }
  @media (max-width: 444px) {
    .header__banner-image {
      width: 100%; } }

.header__banner-image img {
  width: 100%;
  aspect-ratio: 1/2.45;
  object-fit: cover;
  object-position: top; }
  @media (max-width: 444px) {
    .header__banner-image img {
      margin: 0 auto;
      aspect-ratio: 1/0;
      width: 100%; } }

.banners__greed {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "left-top left-top right" "bottom-left bottom-right right";
  height: 50%; }
  @media (max-width: 767.98px) {
    .banners__greed {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: "bottom-left" "bottom-right" "left-top" "right"; } }

.left-top {
  grid-area: left-top;
  max-height: 328px;
  background-color: #FFFFFF;
  padding-right: 40px; }

.bottom-left,
.bottom-right {
  padding-right: 40px; }
  @media (max-width: 1399.98px) {
    .bottom-left,
    .bottom-right {
      padding-right: 20px; } }
  @media (max-width: 991.98px) {
    .bottom-left,
    .bottom-right {
      padding-right: 10px; } }

.bottom-left {
  grid-area: bottom-left;
  max-height: 272px;
  background-color: #EDEDED; }

.bottom-right {
  grid-area: bottom-right;
  max-height: 272px;
  background-color: #353535; }

.right {
  grid-area: right;
  max-height: 600px;
  background-color: #EDEDED;
  padding-left: 50px;
  flex-direction: row-reverse; }

.left-top,
.bottom-left,
.bottom-right,
.right {
  display: flex;
  justify-content: space-between;
  column-gap: 15px; }
  @media (max-width: 991.98px) {
    .left-top,
    .bottom-left,
    .bottom-right,
    .right {
      column-gap: 5px; } }
  @media (max-width: 767.98px) {
    .left-top,
    .bottom-left,
    .bottom-right,
    .right {
      padding: 10px 10px 10px 0;
      max-height: 375px; } }
  @media (max-width: 575.98px) {
    .left-top,
    .bottom-left,
    .bottom-right,
    .right {
      flex-direction: column;
      align-items: center;
      text-align: center; } }

@media (max-width: 575.98px) {
  .banners__greed-image {
    width: 100%; } }

.banners__greed-image img {
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  object-position: right; }
  @media (max-width: 767.98px) {
    .banners__greed-image img {
      aspect-ratio: 1/1; } }
  @media (max-width: 575.98px) {
    .banners__greed-image img {
      aspect-ratio: initial;
      height: 192px;
      margin: 0 auto; } }

.right .banners__greed-image img {
  object-position: left; }

.banners__greed-column {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 16px; }
  @media (max-width: 991.98px) {
    .banners__greed-column {
      text-align: center;
      row-gap: 5px; } }
  @media (max-width: 767.98px) {
    .banners__greed-column {
      width: 50%; } }
  @media (max-width: 575.98px) {
    .banners__greed-column {
      width: 100%; } }

.banners__greed-title {
  color: #000; }

.left-top .banners__greed-title {
  margin-top: 112px;
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8; }

.bottom-left .banners__greed-title,
.bottom-right .banners__greed-title {
  margin-top: 68px;
  font-size: 29px;
  font-weight: 300;
  line-height: 1.37; }
  @media (max-width: 1399.98px) {
    .bottom-left .banners__greed-title,
    .bottom-right .banners__greed-title {
      margin-top: 45px;
      font-size: 18px; } }
  @media (max-width: 991.98px) {
    .bottom-left .banners__greed-title,
    .bottom-right .banners__greed-title {
      margin-top: 35px;
      font-size: 16px; } }

.bottom-left .banners__greed-title span,
.bottom-right .banners__greed-title span {
  font-weight: 500; }

.bottom-right .banners__greed-title {
  color: #FFFFFF; }

.right .banners__greed-title {
  margin-top: 200px;
  font-size: 64px;
  font-weight: 204;
  line-height: 0.8; }

.right .banners__greed-title span {
  font-weight: 500; }

@media (max-width: 767.98px) {
  .bottom-left .banners__greed-title,
  .bottom-right .banners__greed-title,
  .right .banners__greed-title,
  .left-top .banners__greed-title {
    margin-top: 65px;
    font-size: 34px;
    font-weight: 300; } }
@media (max-width: 575.98px) {
  .bottom-left .banners__greed-title,
  .bottom-right .banners__greed-title,
  .right .banners__greed-title,
  .left-top .banners__greed-title {
    margin-top: 24px; } }

.banners__greed-message {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; }

/*# sourceMappingURL=main.css.map */
