@font-face {
    font-family: "SF Pro Display";
    src: url(./SF-Pro-Display-Ultralight.otf);
    src: url(./SF-Pro-Display-Ultralight.woff2);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(./SF-Pro-Display-Light.otf);
    src: url(./SF-Pro-Display-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(./SF-Pro-Display-Regular.otf);
    src: url(./SF-Pro-Display-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(./SF-Pro-Display-Medium.otf);
    src: url(./SF-Pro-Display-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(./SF-Pro-Display-Semibold.otf);
    src: url(./SF-Pro-Display-Semibold.woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}