/* Base styles  */
html {
    min-height: 100vh;
    /* sticky footer */
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* sticky footer */
    display: flex;
    /* sticky footer */
    flex-direction: column;
    /* sticky footer */

    color: var(--main-text, #CFCFCF);
    font-family: 'SF Pro Display', sans-serif;
    /* sans-serif font family */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--main-black, #FFFFFF);
}

body>* {
    flex-shrink: 0;
    /* sticky footer */
}

section {
    position: relative;
}

/* Grid styles */

.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &--fluid {
        max-width: unset;
    }

    &--no-padding {
        padding: 0;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        // width: 900px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        // width: 600px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        // width: 320px;
    }
}

/* Utility */

.none {
    display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Sticky Footer */

.footer {
    margin-top: auto;
    /* sticky footer */
}


input {
    border-radius: 7px;
    border: 0.5px;
}


.banner-title {
    font-size: 96px;
    font-style: normal;
    font-weight: 200;
    line-height: 0.75;
    letter-spacing: -0.96px;

    @media (max-width: 991.98px) {
        font-size: 74px;
    }

    @media (max-width: 767.98px) {
        font-size: 72px;
    }
}

.banner-title span {
    font-weight: 600;
}

.banner-subtitle {
    color: #909090;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
}