.footer {
    padding-top: 104px;
    padding-bottom: 104px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @media (max-width: 767.98px) {
        flex-direction: column;
        row-gap: 34px;
        text-align: center;
        margin-bottom: 32px;
    }
}
.footer__info-column {
    width: 34.2%;

    @media (max-width: 767.98px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__logo{
    margin-bottom: 24px;

    @media (max-width: 767.98px) {
        
    }
}
.footer__info-meesage {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;

    @media (max-width: 767.98px) {
        text-wrap: balance;
    }
}
.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 56%;

    @media (max-width: 767.98px) {
        flex-direction: column;
        width: 100%;
        row-gap: 34px;
    }
}
.footer__column {
    @media (max-width: 767.98px) {
        
    }
}
.footer__column-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
}
.footer__column-item {
    font-size: 14px;
    font-weight: 300;
    line-height: 2.28;
}



.social-list--footer{
    @media (max-width: 767.98px) {
        margin: 0 auto;
    }
}