.header {
    // height: 100vh;
}

.logo__black{
    z-index: 1;
}

.header__nav__container {
    background-color: white;
    display: flex;
    align-items: center;
    column-gap: 32px;
    justify-content: center;
    padding: 16px 0;
}

.header__search input {
    width: 443px;
    max-height: 56px;
    margin-right: 32px;
    background-color: #F5F5F5;
}

.header__nav__icons {
    max-width: 144px;
    display: flex;
}

.header__nav__link {
    margin-right: 32px;
    width: 351px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.header__nav__link a {
    margin-right: 47px;
    font-size: 16px;
    line-height: 19.09px;
    transition: 0.2s linear;
}

.header__nav__link a:hover {
    color: black;
}

.header__nav__link a:last-child {
    margin-right: 0;
}

.active{
    color: #000;
}

.header__nav__icons a {
    margin-right: 24px;
}

.header__nav__icons a:last-child {
    margin-right: 0;
}
.header__burger-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
}
.header__burger-btn span{
    position: absolute;
    margin: 0;
    left: 7.5px;
    width: 25px;
    height: 2.5px;
    background-color: #080341;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}
.header.open .header__burger-btn span{
    background-color: black;;
}
.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}
.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
.header__subnav {
    height: 48px;
    background-color: #2E2E2E;
    color: #FFFFFF;
}
.container__subnav {
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__subnav-item {
    display: flex;
    position: relative;
}
.header__subnav-item img{
    opacity: 0.5;
    margin-right: 8px;
}
.header__subnav-item::after{
    display: block;
    position: absolute;
    content: '|';
    height: 24px;
    right: -48px;
    color: #FFFFFF;
    opacity: 0.5;
}
.header__subnav-item:last-child::after{
    display: none;
}

@media (max-width: 1200px) {
    .header__nav__container{
        height: 88px;
    }

    .header__search input{
        width: 200px;
    }
    .header__subnav-item::after{
        display: none;
    }

    
}
@media (max-width: 992px) {
    .header__nav__container{
        height: 88px;
        justify-content: space-between;
    }
    .menu{
        background-color: gray;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        display: flex;
        justify-content: center;
        transform: translateY(-100%);
    }
    .header__nav__link{
        display: block;
        width: 100px;
        margin: 0;
    }
    .menu__link{
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }

    .header.open .menu{
        transform: translateY(0%);
    }
    .search {
        display: none;
    }
    .header__search input{
        display: none;
    }
    .header__nav__icons{
        display: none;
    }
    .header__subnav{
        display: none;
    }
    .header__burger-btn{
        display: block;
    }
    
}